:root {
  /* CSS HEX */
  --prussian-blue: #1c3144ff;
  --raspberry-rose: #b5446eff;
  --air-superiority-blue: #6d98baff;
  --sage: #c9c19fff;
  --emerald: #2dd881ff;

  /* CSS HSL */
  --prussian-blue-hsl: hsla(208, 42%, 19%, 1);
  --raspberry-rose-hsl: hsla(338, 45%, 49%, 1);
  --air-superiority-blue-hsl: hsla(206, 36%, 58%, 1);
  --sage-hsl: hsla(49, 28%, 71%, 1);
  --emerald-hsl: hsla(149, 69%, 51%, 1);
}

html, body, #root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: var(--prussian-blue);
  color: var(--sage);
  font-family: Arial, sans-serif;
}

.main {
  padding: 20px;
}

footer {
  background-color: var(--air-superiority-blue);
  padding: 10px;
  text-align: center;
  color: var(--prussian-blue);
}
